/* Faking a real website */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

html {
  height: 100%;
}

body {
  background-color: rgb(236, 236, 236);
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family:  Calibri, Mallanna, sans-serif;
}

h1,
h2,
h3,
button {
  font-family: "Chalkboard", "Comic Neue", "Comic Sans MS", cursive;
  /* letter-spacing: -0.5px; */
  text-transform: uppercase;
  font-weight: 700;
}

/* The body of the fake website consist of a scrollable big picture */
#fake {
  /* background: url(./fake-home.jpg); */
  z-index: 9;
  /* position: fixed; */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

/* lightbox stuff */

.lb-mod {
  position: fixed;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  z-index: 10;
}

.softener {
  /* backdrop-filter: blur(5px); */
  background-color: rgba(0, 0, 0, 0.5);
}

/* lightbox itself */

.lb-container {
  display: grid;
  margin: 5em auto;
  grid-template-rows: min-content auto min-content;
  position: static;
  z-index: 11;
  max-width: 1030px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  /* background-color: white; */
  /*border: 1px solid white;*/
	border-radius: 1em;
}

.scrollable {
  overflow-y: scroll;
}

.lb-header {
	background: white;
	backdrop-filter: blur(10px);
	border-radius: 1em 1em 0 0;
}

.lb-header h2 {
  margin: 0.5em 1em;
	color: rgb(56, 137, 193);
	overflow: hidden;
}

.lb-header .close-button {
	position: absolute;
	right:.5em;
	top:.5em;
}

.close-button img {
	height: 30px;
	width: 30px;
}

#tabs-container {
	display: flex;
  font-family: "Chalkboard", "Comic Neue", "Comic Sans MS", cursive;
  /* letter-spacing: -0.5px; */
  overflow-x: auto;
  font-weight: 600;
}

#tabs-container a {
  text-decoration: none;
  color: rgb(56, 137, 193);
}

#tabs-container > span.active a {
  color: rgb(255, 141, 46);
}

#tabs-container > span {
  flex-grow: 1;
  min-width: min-content;
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 9px;
}

#tabs-container > span.active {
  flex-grow: 1;
  min-width: min-content;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  border: 1px solid lightgray;
  border-top: 2px solid rgb(255, 141, 46);
	border-bottom: none;
	background-color: white;
}

.lb-body {
	padding: 1em;
	padding-bottom: 0;
	/* max-height: 350px; */
	max-height: calc(100vh - 10em - 200px);
	border-bottom: 1px solid lightgray;
	background-color: white;
}

.doc-file-browse {
  display: grid;
  grid-template-columns: [side] 220px [central] auto;
  grid-template-rows: [toolbar] auto [main] auto;
  grid-gap: 6px;
}

.doc-file-browse #doc-file-viewmode {
  grid-row: toolbar;
  grid-column: side;
  justify-self: start;
}

.doc-file-browse #doc-file-search {
  grid-row: toolbar;
  grid-column: central;
  justify-self: start;
}

.doc-file-browse #doc-file-nav {
  grid-row: main;
  grid-column: side;
}

.doc-file-browse #doc-file-dominos {
  grid-row: main;
  grid-column: central;
}

input {
  border-radius: 5px;
  border: 1px solid #c9ced5;
  line-height: 25px;
  padding: 0 10px;
  box-sizing: border-box;
	height: 40px;
	text-transform: initial;
	font-size: initial;
	font-family: Calibri, Mallanna, "Segoe UI", sans-serif;
}

#doc-file-viewmode a {
  background-image: linear-gradient(#fff, #e9ebef);
  border-radius: 15px;
  height: 40px;
  min-width: 40px;
  display: inline-block;
}

#doc-file-viewmode a.active {
  background-image: linear-gradient(#3889c1, #43b9e7);
}


button {
  /* height: 40px; */
  box-sizing: border-box;
  background-image: linear-gradient(#3889c1, #43b9e7);
	color: #fff;
	border: none;
	border-radius: 15px;
	font-size: initial;
	padding:9px 12px;
}

.list-nav ul {
  padding-left: 0;
  font-size: 12pt;
}

.list-nav li {
  list-style: none;
  margin: 9px;
}

.list-nav ul li ul li {
  margin-left: 12px;
}

.list-nav li span {
  border-radius: 4px;
  padding: 3px 9px;
  cursor: pointer;
  height: 100%;
}

.list-nav li:not(.active) span:hover {
  background-image: linear-gradient(#fff, #e9ebef);
}

.list-nav .active > span {
  background-image: linear-gradient(#3889c1, #43b9e7);
  color: white;
}

.domino-container {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  height: 100%;
}

.domino-item {
  margin: 5px;
  border: 1px solid lightgray;
  width: 150px;
  height: 80px;
	background: url(https://via.placeholder.com/80) no-repeat;
	padding-left: 86px;
	border-radius: 8px;
	overflow: hidden;
}

.domino-item h4 {
	text-transform: initial;
	/* font-family: Calibri, "Segoe UI", sans-serif; */
  font-weight: normal;
  font-size: 11pt;
	letter-spacing: initial;
	margin: 6px 0 ;
	color: rgb(53, 53, 53);
}
.domino-item h4 span.extension {
	color:gray;
	text-transform: uppercase;
	font-size: 70%;
}

.domino-item .subtitle {
	color:gray;
	font-size: 10pt;
	margin: 0;
}

.lb-footer {
  padding: 1em;
	overflow: hidden;
	background-color: white;
	backdrop-filter: blur(20px);
	border-radius: 0 0 1em 1em;
}

.type-folder {
	border: 1px solid #efdd77;
	background: left / contain no-repeat url("./assets/folder-large.png") ;
}

.type-file {
	/* border: 1px solid lightgray; */
	background: left / contain no-repeat url("./assets/unknown-large.png") ;
}




